.app {
    animation: app 2s;
    padding-top: 30px;
    &__sort {
        text-align: center;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
        animation: filters 2s;
        &-title {
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        &-buttons {
            display: flex;
            justify-content: space-between;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
        animation: form 2s;
        background-color: #27272cc2;
        padding: 20px 0 20px;
        border-radius: 8px;
        &-box {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: center;
            & input {
                width: 75px !important;
                margin: 0 !important;
            }
            & label {
                width: 300px;
            }
        }
        & h1 {
            font-size: 35px;
            font-weight: 600;
            text-align: center;
        }
        & input {
            border: 1px solid teal;
            border-radius: 5px;
            outline: unset;
            width: 300px;
            margin: 0 auto;
            padding: 3px 10px;
            color: white;
        }
        & button {
            padding: 3px 15px;
            border: 1px solid teal;
            border-radius: 5px;
            margin: 0 auto;
            transition: all 0.3s;
            color: white;
            &:hover {
                background-color: teal;
                color: white;
            }
        }
    }
    &__list {
        animation: users 2s;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
.user {
    width: 600px;
    border: 1px solid teal;
    margin: 0 auto;
    padding: 20px 15px 10px 15px;
    position: relative;
    background-color: #27272cc2;
    &__bottom {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        & li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid teal;
            padding-bottom: 5px;
        }
    }
    &__top {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    & .arrow {
        transition: all 0.2s;
        &.active {
            transform: rotate(90deg);
        }
    }
    &__party {
        margin-bottom: 5px;
        text-align: center;
    }
    &__overall {
        text-align: center;
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: end;
        & button {
            color: white;
            transition: all 0.2s;
            &:hover {
                color: teal;
            }
        }
    }
}

.edit {
    border: 1px solid teal;
    border-radius: 8px;
    width: 450px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #27272c;
    padding: 20px;
    &__bottom {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-bottom: 15px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & input {
            width: 75px !important;
            margin: 0 !important;
        }
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;
    }
    &__overall {
        padding-bottom: 15px;
        border-bottom: 1px solid teal;
        width: 100%;
    }
    &__close {
        position: absolute;
        top: 3px;
        right: 6px;
        color: white;
        transition: all 0.2s;
        &:hover {
            color: teal;
        }
    }
    & h1 {
        font-size: 25px;
    }
    & input {
        border: 1px solid teal;
        border-radius: 5px;
        outline: unset;
        width: 300px;
        margin: 0 auto;
        padding: 3px 10px;
        color: white;
    }
    &__submit {
        padding: 3px 15px;
        border: 1px solid teal;
        border-radius: 5px;
        margin: 0 auto;
        transition: all 0.3s;
        color: white;
        &:hover {
            background-color: teal;
            color: white;
        }
    }
}

.overall {
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid teal;
    padding-bottom: 30px;
    & label {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        & .arrow {
            padding-top: 7px;
            color: teal;
            transition: all 0.2s;
            &.active {
                transform: rotate(90deg);
            }
        }
    }
}

.button {
    padding: 3px 15px;
    border: 1px solid teal;
    border-radius: 5px;
    transition: all 0.3s;
    color: white;
    &:hover {
        background-color: teal;
        color: white;
    }
    &.active {
        background-color: teal;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.527);
    z-index: 1;
}

@keyframes app {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes form {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes filters {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes users {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
